sounddevice==0.4.6
numpy==1.26.4
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyobjc-framework-Quartz==9.2
pyperclip==1.8.2
requests>=2.31.0
pyyaml==6.0.1
python-dotenv==1.0.1
openai
groq
rumps
pywebview>=4.0
pyinstaller
